<div class="room-menu">
    <ul>
        <li><%= link_to 'Your Listings', rooms_path %></li>
        <li class="mt-3"><%= link_to 'Your Reservations', your_reservations_path %></li>
        <li class="mt-3"><%= link_to 'Your Trips', your_trips_path %></li>
    </ul>
</div>