* {
  margin:0;
  padding:0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html {
  overflow-y:scroll;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

p {
  margin:0 0 1em 0;
  font-family: 'Tangerine', serif;
}

li {
  list-style-type:none;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

img {
  border:0;
}

address {
  font-style:normal;
}

// 全体

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-title {
  color: white;
  letter-spacing: 0.05em;
  font-weight: 350px;
}

.bg-form{
  background-image: url(house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
// header

.avatar-small {
  width: 28px;
}

.nav-link {
  margin-right: 8px;
}

.navbar-img {
  height: 80px;
  width: 150px;
}

.fa-airbnb {
  background: white;
  color: white;
}

// devise-passwords-new registrations-new sessions-new

.form-class {
  margin-top: 250px;
}

.bg-form-container {
  background-color: white;
}

.avatar-full {
  width: 100%;
}

// room 全体
.room-form-btn {
  width: 80px;
}

// photo-upload

.card-header {
  padding: 0;

  img {
    width: 100%;
  }
}

// photo-list

.photo-list-card-body-li i {
  color: #444444;
}

// room-menu

.room-menu a {
  color: black;
}

// room-listing-page

.list-form-control select {
  height: 40px;
  width: 170px;
}

// room-index-page

.img-size {
  width: 85px;
  height: 75px;
}

// room-show-page

.rooms-show-img  img{
  width: 100%;
}

.text-line-through {
  text-decoration: line-through;
}